####Import Libraries

In [335]:
import pandas as pd 
import numpy as np
from numpy.random import choice
import random

####Data generation

Randomly generate user interests (up to 3 interests can be chosen at a time)

In [366]:
interestsList = ["Health services", "Social services" , "Advocacy and Justice", "Food and Agriculture", "Education", "Environment and Climate change", "Recreation and Leisure", "Technology and Innovation", "Outreach and Advertising", "Child services"]
generatedInterestsListEn = []
generatedInterestsList = []
generatedBioList =[]

Randomly generate user bios

In [367]:
HealthServicesBio = ['I enjoy helping and caring for people within my community.', 'There isn’t equal access to medical services.','I imagine helping with blood donations and helping make health resources accessible to patients.','I want to move patients from one location to another in the hospital','I volunteered at St. Amant for two years where I assisted individuals living with developmental disabilities and autism.','I worked as a nurse in a hospital during Covid when there was lack of workforce.']
SocialServicesBio = ['I am passionate about ensuring that society has the services and facilities it needs to support people from different social and economic backgrounds.','I really care about helping other people.','I imagine helping and fostering senior citizens with their daily needs.','I would like to conduct social and psycho-social assessments','I sorted and tagged clothing donations for homeless people at Salvation army for three years.','I helped with preparing food for the homeless']
AdvocacyJusticeBio = ['I take social issues such as gender discrimination very seriously and want to create an equitable society.','I want to make a difference in the world.','I imagine standing up for people/animals less spoken for, through petitions and marches.','I want to organize events aimed to raise awareness to socio-economic inequalities within our society ', 'I volunteered at my local youth justice society assisting young people who have been in conflict with the law.','I helped with organising several conferences and workshops related to women rights']
FoodAgricultureBio = ['I am passionate about the food industry as I really like promoting healthy eating habits.','I think everyone should have access to enough to eat to be healthy.','I imagine serving free food and vegetables in our local community shop.','I enjoy creating different dishes for others to taste, so I hope to be a part of the open kitchen to cook meals for the community.','As an active Serve and Grow volunteer, I planted, weeded, harvested and washed vegetables.','I worked as a farmer and mentor in Plainfield Heritage Farm.']
EducationBio = ['I think everyone should have unrestricted access to education and be able to learn whatever they are passionate about.','I believe everyone should have the right to go to school.','I would like to support less privileged people in their learning process and education supplies they can’t afford.','I would like to teach children subjects such as math and science.','At a summer bootcamp, I taught French to primary and secondary school students.','I helped as a learning and development coordinator for AI4Good summer lab.']
EnvironmentClimateChangeBio = ['Climate change is a global issue and I strongly believe in making Earth a sustainable planet.','Environmental degradation needs to be stopped.','Work with communities to actively dispose off garbage and to be conscious of Earth’s rising temperature and depleting vital resources.','I want to help conduct a protest outside of the city centre to raise awareness for climate change.', 'I volunteered as a facilitator for the Impact of Climate Change on Human Rights event.','I participated in several nature cleaning activities.']
RecreationLeisureBio = ['I worked as a guitarist in a local restaurant for six months.','Last summer, I coached a U16 girls soccer team.','I want to host outdoor events in my community to promote active living.','Helping conduct swimming and other field games and mentoring team-spirit.','I think play and sports are important for children’s development.','I am really passionate about sports and want to teach them to other people.']
TechnologyInnovationBio = ['I enjoy working with technological and electronic items as I am interested in learning about Robotics.','Helping people with technology is really cool to me.','Teaching basic internet applications to people and helping them with smart technology.','I hope to salvage old computers and repurpose them into something new and usable.','I was a guest panelist for a computer science and technology webinar.','I participated as a guest speaker in a webinar about machine learning.']
OutreachAndAdvertising = ['Worked as an outreach program coordinator for Edmonton Horticultural Society.','Throughout my university years, I was the outreach coordinator for my program.','I want to promote upcoming events hosted by local businesses or artists.', 'Contributing in small startups and equipping people with the right resources.','I like to engage in community service and help people advertise themselves to the public.','I really want to interact with the public.']
ChildServicesBio = ['It is so fun working with kids and I love playing with them.','I really care about making the world safer for kids.','Helping children with vaccination drives and childcare facilities like crutch and daycare.','I want to coordinate living solutions for any child that is being mistreated or neglected; I help find them a new and safe home to go to.','For two weeks during winter break, I volunteered full-time at a day care.','I provided support for the child and family during the child abuse investigation process.']

In [368]:
bioList = [HealthServicesBio, SocialServicesBio, AdvocacyJusticeBio, FoodAgricultureBio, EducationBio, EnvironmentClimateChangeBio, RecreationLeisureBio,
           TechnologyInnovationBio, OutreachAndAdvertising, ChildServicesBio]

Encode interests to machine readable binary numbers

In [369]:
for i in range(200):
  # randomly choose number of interests 
  numInterests = random.randint(1,3) 
  
  emptyString =""
  user_InterestsEn =[0,0,0,0,0,0,0,0,0,0]
  user_Interests = []
  user_Bios =[]
  for x in range(numInterests):
    generatedInterest = random.choices(interestsList, [0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1])
    # to avoid duplicates
    while (generatedInterest in user_Interests):
        generatedInterest = random.choices(interestsList, [0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1])
    
    index = interestsList.index(generatedInterest[0])

    user_InterestsEn[index] = 1
    generatedBio = random.choices(bioList[index], [0.16, 0.16,0.16, 0.16,0.16, 0.2])
    generatedBio2 = random.choices(bioList[index], [0.16, 0.16,0.16,0.16,0.16, 0.2])

    generatedBio = emptyString.join(generatedBio)
    generatedBio2 = emptyString.join(generatedBio2)

    user_Interests.append(generatedInterest[0])
    user_Bios.append(generatedBio)
    user_Bios.append(generatedBio2)
  
  generatedInterestsListEn.append(user_InterestsEn)
  generatedInterestsList.append(user_Interests)
  generatedBioList.append(user_Bios)

Randomly generate user age with respect to age demographics in NYC

In [370]:
ageList = [0,1,2]

generatedAgeArray = choice(ageList,200, p=[0.10,0.78,0.12])

Randomly generate user borough with respect to population demographics in NYC

In [371]:
boroughList = ["BRONX", "BROOKLYN", "MANHATTAN", "QUEENS", "STATEN IS"]

generatedBoroughArray = choice(boroughList,200, p=[0.17,0.31,0.19,0.27,0.06])

Create dictionary with user information

In [372]:
dict = {'Age': generatedAgeArray, 'Borough': generatedBoroughArray, 'Interests': generatedInterestsList, "Biography" : generatedBioList}

Save pre encoded user dataset to csv

In [373]:
#df = pd.DataFrame(dict)
#df.to_csv('/content/preencoding_user_final_dataset.csv')

Extract function to get all items in multiple lists at given index

In [374]:
def Extract(list,index):
    return [item[index] for item in list]

dictionary keys ▶ interests  
dictionary values ▶ whether the interest is chosen

In [375]:
for i in interestsList:
  dict[i] = Extract(generatedInterestsListEn,interestsList.index(i))

Create dataframe with user information generated above

In [376]:
df = pd.DataFrame(dict)

One hot encode NYC Boroughs

In [377]:
one_hotBoroughs = pd.get_dummies(df['Borough'])

Join dataframes

In [378]:
df_final= df.join(one_hotBoroughs)

Final User Dataset

In [379]:
df_final

,Age,Borough,Interests,Biography,Health services,Social services,Advocacy and Justice,Food and Agriculture,Education,Environment and Climate change,Recreation and Leisure,Technology and Innovation,Outreach and Advertising,Child services,BRONX,BROOKLYN,MANHATTAN,QUEENS,STATEN IS
0,1,QUEENS,"[Education, Advocacy and Justice]",[I would like to teach children subjects such ...,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0
1,1,BRONX,[Social services],[I helped with preparing food for the homeless...,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,1,QUEENS,[Child services],[I want to coordinate living solutions for any...,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
3,1,QUEENS,[Child services],[It is so fun working with kids and I love pla...,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
4,0,STATEN IS,"[Outreach and Advertising, Environment and Cli...",[Contributing in small startups and equipping ...,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,QUEENS,[Food and Agriculture],[I imagine serving free food and vegetables in...,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
196,0,BROOKLYN,"[Child services, Outreach and Advertising]",[I really care about making the world safer fo...,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0
197,1,MANHATTAN,[Health services],[I imagine helping with blood donations and he...,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
198,1,BROOKLYN,"[Child services, Environment and Climate change]",[I provided support for the child and family d...,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0
199,1,MANHATTAN,"[Advocacy and Justice, Food and Agriculture]","[I want to make a difference in the world., I ...",0,0,1,1,0,0,0,0,0,0,0,0,1,0,0

Save encoded user dataset as csv file

In [380]:
#df_final.to_csv('/content/encoded_user_final_dataset.csv')